html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #2d3033;
    background-color: #fff;

    -webkit-font-smoothing: antialiesed;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
            /* -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
            pointer-events: none; */
}

.container {
    width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}

*,
*:before, 
*:after { 
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin-top: 10px;
    line-height: 1.6;
    font-size: 20px;
    text-align: center;
    font-family: 'Open Sans' sans-serif;
    /* font-family: 'Nunito Sans', sans-serif; */
    
}

img {
    height: auto;
    max-width: 100%;
}

a {
    text-decoration: none;
    margin: 0;
    color: inherit;
}

/* about */


.about {
    margin: 0 auto;
    margin-top: 100px;
    max-width: 1000px;
}


.about__title {
    
    text-align: center;
    font-weight: 200;
    font-size: 48px;
    font-family: 'Prata', serif;
    color: #2d3033;
    text-decoration: none;
}



.about__feedback {
    color: red;
}

.about__feedback:hover {
    text-decoration: underline;

}
