html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #2d3033;
    background-color: #fff;

    -webkit-font-smoothing: antialiesed;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
            /* -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
            pointer-events: none; */
}

.container {
    width: 100%;
    max-width: 1600px;
  margin: 0 auto;
  padding: 0 30px;
}

*,
*:before, 
*:after { 
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0 0 10px ;
}

img {
    height: auto;
    max-width: 100%;
}

a {
    text-decoration: none;
    margin: 0;
    color: inherit;
}


/* country */

.country {
    margin-top: 100px;
}

.country__title {

    text-align: left;
    font-weight: 200;
    font-size: 48px;
    font-family: 'Prata', serif;
    color: #2d3033;
    text-decoration: none;
}

.country__subtitle {
    
    text-align: left;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
    color: #6b6b6b;
    opacity: 0.8;
}

.country__inner {
    width: 100%;
    display: flex;
    margin-top: 30px;
}

.country__item {
    display: block;
    width: calc(100% / 5);
    flex-wrap: wrap;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    transition: opacity 0.2s linear;
    overflow: hidden;
    border-radius: 20px;
    margin-right: 20px;
}


.country__item::after {
    content: "";
    display: block;
    background: rgba(0, 0, 0, 15%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
}

.country__item:hover {
    cursor: pointer;
}

.country__item:hover .country__item::after {
    display: none;
    width: 0;
    height: 0;
    z-index: 0;
}

.country__item:hover .country__img {
    /* box-shadow: -2px 1px 8px 6px #979494; */
    opacity: 1;
    transform: scale(1.1);
}

.country__item:last-child {
    margin-right: 0;
} 

.country__img {
    display: block;
    opacity: 93%;
    width: 400px;
    height: 210px;
    
    transition: all 0.4s linear;
    /* transition: opacity 0.4s linear; */
}

.country__item__title {
    font-family: "Prata", serif;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    position: absolute;
    bottom: 20px;
    right: 0;
    left: 0;
    z-index: 3;
}

