html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #2d3033;
    background-color: #fff;

    -webkit-font-smoothing: antialiesed;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
            /* -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
            pointer-events: none; */
}

*,
*:before, 
*:after { 
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0 0 10px ;
    /* text-align: center; */
    
}

a {
    text-decoration: none;
    margin: 0;
    color: inherit;
}

/* form */

.paragrafs {
    margin-top: 100px;
    text-align: left;
    color: #837f7f;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    max-width: 640px;
    margin: 100px auto 0 auto;
    
}

.form {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.form-hint {
    display: block;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 12px;
}

.field {
    box-sizing: border-box;
    width: 310px;
    border: 1px solid #222;
    padding: 15px 20px;
    
}

.field-com {
    box-sizing: border-box;
    width: 640px;
    height: 200px;
    padding: 15px 20px;
    resize: none;
    margin-top: 35px;
    margin-bottom: 35px;
}

.button {
    border: none;
    border-radius: 7px;
    padding: 15px 55px;
    color: #fff;
    background-color: #d92a16;

    font-family: inherit;
    font-size: 16px;
    cursor: pointer;

    transition: .15s linear;
}

.button:hover {
    background-color: #e74c3c;

    
}

.form-row { 
    text-align: center;
}






/* header */

.header {
    width: 100%;
    height: 60px;
    background-color: #fff;
    position: fixed;
    top: 0;
    z-index: 3;
    box-shadow: 0px -5px 8px 2px #979494;
}

.header__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* margin: 10px 50px; */
    margin-top: 10px;

}

.header__logo__content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: -40px;
}


.header__logo {
    width: 40px;
    height: 40px;
}

.header__logo__title {
    color: #000;
    margin-left: 7px;
    font-size: 25px;
    text-transform: uppercase;
    /* letter-spacing: 2px; */
    /* font-family: 'Prata', serif; */
    font-weight: 400;
}


.header__search {
    fill: #000;
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-top: 0px;
}



/* burger */

.burger {
    background: none;
    border: 0;
    cursor: pointer;
    box-sizing: border-box;
    padding: 10px;
}


.burger__item {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #000;
    font-size: 0;
    color: transparent;
    position: relative;
}

.burger__item::before, .burger__item::after {
    content: "";
    width: 100%;
    height: 100%;

    background-color: #000;
    position: absolute;
    right: 0;
    z-index: 1;
    transition: transform linear 0.2s;
}

.burger__item::before {
    top: -8px;
}

.burger__item::after {
   bottom: -8px;
}


/* footer */

.footer {
    margin-top: 100px;
    background-color: #292929;
    padding: 40px 30px;
}

.footer__header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.footer__img {
    width: 40px;
    height: 40px;
}

.footer__logo__title {
    color: #fff;
    margin-left: 7px;
    font-size: 25px;
    text-transform: uppercase;
    /* letter-spacing: 2px; */
}

.footer__list {
    text-align: center;
}

.footer__text {
    font-size: 14px;
    color: #fff;
    font-weight: 500;
    margin: 0 10px;
    line-height: 25px;
    white-space: nowrap;
    opacity: 0.9;
    transition: opacity 0.2s linear;
}

.footer__text:hover {
    opacity: 1;
    text-decoration: underline;
}

.footer__paragraf {
    text-align: center;
    margin-top: 50px;
    color: #d0d0d0;
}

