
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #2d3033;
    background-color: #fff;

    -webkit-font-smoothing: antialiesed;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
            /* -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
            pointer-events: none; */
}

.container {
    width: 100%;
    max-width: 1500px;
  margin: 0 auto;
  padding: 0 30px;
}

*,
*:before, 
*:after { 
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0 0 10px ;
}

img {
    height: auto;
    max-width: 100%;
}

a {
    text-decoration: none;
    margin: 0;
    color: inherit;
}

/* header */

.header {
    width: 100%;
    height: 60px;
    background-color: #fff;
    position: fixed;
    top: 0;
    z-index: 3;
    box-shadow: 0px -5px 8px 2px #979494;
}

.header__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* margin: 10px 50px; */
    margin-top: 10px;

}

.header__logo__content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: -40px;
}


.header__logo {
    width: 40px;
    height: 40px;
}

.header__logo__title {
    color: #000;
    margin-left: 7px;
    font-size: 25px;
    text-transform: uppercase;
    /* letter-spacing: 2px; */
    /* font-family: 'Prata', serif; */
    font-weight: 400;
}


.header__search {
    fill: #000;
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-top: 0px;
}



/* burger */

.burger {
    background: none;
    border: 0;
    cursor: pointer;
    box-sizing: border-box;
    padding: 10px;
}


.burger__item {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #000;
    font-size: 0;
    color: transparent;
    position: relative;
}

.burger__item::before, .burger__item::after {
    content: "";
    width: 100%;
    height: 100%;

    background-color: #000;
    position: absolute;
    right: 0;
    z-index: 1;
    transition: transform linear 0.2s;
}

.burger__item::before {
    top: -8px;
}

.burger__item::after {
   bottom: -8px;
}


/* nav */

.nav {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 400px;
    position: fixed;
    top: 0;
    left: -420px;
    z-index: 200;
    background-color: #fff;
    padding: 50px 25px;
    box-shadow: 0 0px 10px 2px #979494;
    transition: 0.5s;
}

.nav.active {
    left: 0;
}

.nav__close__content {
    background-color: #eee;
    padding: 22px;
    margin-top: 20px;
    margin-right: 15px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}

.nav__close__content:hover {
    cursor: pointer;
}

.nav__close {
    position: relative;
    right: -10px;
}

.nav__close::after, .nav__close::before {
    content: "";
    background-color: #000;
    width: 20px;
    height: 2px;
    position: absolute;
    right: 0;
    z-index: 201;
}

.nav__close::after {
    transform: rotate(45deg);
}

.nav__close::before {
    transform: rotate(-45deg);
}

.nav__link {
    display: flex;
    align-items: center;
    color: #000;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    margin: 20px 0;
    opacity: 90%;
    transition: opacity .1s linear ;
}

.nav__link:hover {
    opacity: 1;
    text-decoration: underline;
}

.nav__link__text {
    margin-left: 10px;
}

.nav__icon {
    width: 25px;
    height: 25px;
    fill: rgb(28, 30, 28);
}

/* .nav__caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
} */

/* intro */
.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    height: 700px;
    width: 100%;
    margin-top: 80px;
}

.intro::after {
    content: "";
    display: block;
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.intro__logo {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.active {
    display: block;
}

.intro__inner {
    z-index: 2;
}

.intro__title {
    font-family: 'Open Sans' sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    text-align: center;
}

/* country */

.country {
    margin-top: 100px;
    /* margin-left: 2%;
    margin-right: 2%; */
}

.country__title {

    text-align: left;
    font-weight: 200;
    font-size: 48px;
    font-family: 'Prata', serif;
    color: #2d3033;
    text-decoration: none;
}

.country__subtitle {
    
    text-align: left;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
    color: #6b6b6b;
    opacity: 0.8;
}

.country__inner {
    width: 100%;
    display: flex;
    margin-top: 30px;
}

.country__item {
    display: flex;
    width: 19%;
    max-width: 300px;
    flex-wrap: wrap;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    transition: opacity 0.2s linear;
    overflow: hidden;
    border-radius: 20px;

    margin-right: 20px;
}

.country__item::after {
    content: "";
    display: block;
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
}

.country__item:hover {
    cursor: pointer;
}

.country__item:hover .country__item::after {
    display: none;
}

.country__item:hover .country__img {
    /* box-shadow: -2px 1px 8px 6px #979494; */
    opacity: 1;
    transform: scale(1.1);
}

.country__item:last-child {
    margin-right: 0;
} 

.country__img {
    display: block;
    width: 300px;
    height: 235px;
    opacity: 93%;
    transition: all 0.4s linear;
    /* transition: opacity 0.4s linear; */
}





.country__item__title {
    font-family: "Prata", serif;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    font-size: 18px;
    font-weight: 700;

    position: absolute;
    bottom: 20px;
    right: 0;
    left: 0;
    z-index: 3;
}

/* Button */

.button__inner {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.btn {
    display: inline-block;
    padding: 14px 80px;
    font-size: 13px;
    font-weight: 600;
    font-family: 'Raleway' sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 5px;
    border: 0;
    color: #fff;
    cursor: pointer;
    transition: background 0.17s linear;
    background-color: #e42a2a;
}

.btn:hover {
    background-color: #e84545;
}

/* articles */

.articles {
    margin-top: 100px;
    /* margin-left: 2%;
    margin-right: 2%; */
}

.articles__title {

    text-align: left;
    font-weight: 200;
    font-size: 48px;
    font-family: 'Prata', serif;
    color: #2d3033;
    text-decoration: none;
}

.articles__subtitle {
    text-align: left;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
    color: #6b6b6b;
    opacity: 0.8;
}

.articles__inner {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 50px;
    
}


.articles__img {
    display: block;
    position: relative;
    margin-bottom: 20px;
    width: 350px;
}

.articles__item {
    width: 23%;
    opacity: 0.9;
    transition: opacity 0.2s linear;
    
}

.articles__item:hover {
    opacity: 1;
    
}

.articles__content__title {
    font-weight: 700;
    font-size: 20px;
    text-decoration: none;
    color: #2d3033;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    margin-bottom: 20px;
    line-height: 1.5;
}

.articles__content__title:hover {
    text-decoration: underline;
    cursor: pointer;
}

.articles__text {
    font-size: 14px;
    line-height: 1.5;
    color: #6c7279;
}

.articles__but {
    display: inline-block;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: -0.4px;
    padding: 8px 13px;
    position: relative;
    
    margin-top: 30px;
    transition: all 0.2s linear;
}

.articles__but:hover {
    background-color: #e42a2a;
    color: #fff;
    opacity: 0.9;
}

.articles__but:hover .articles__but__img {
    opacity: 0.9;
}

.articles__but__img {
    width: 10px;
    height: 10px;
}

/* footer */

.footer {
    margin-top: 100px;
    background-color: #292929;
    padding: 40px 30px;
}

.footer__header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.footer__img {
    width: 40px;
    height: 40px;
}

.footer__logo__title {
    color: #fff;
    margin-left: 7px;
    font-size: 25px;
    text-transform: uppercase;
    /* letter-spacing: 2px; */
}

.footer__list {
    text-align: center;
}

.footer__text {
    font-size: 14px;
    color: #fff;
    font-weight: 500;
    margin: 0 10px;
    line-height: 25px;
    white-space: nowrap;
    opacity: 0.9;
    transition: opacity 0.2s linear;
}

.footer__text:hover {
    opacity: 1;
    text-decoration: underline;
}

.footer__paragraf {
    text-align: center;
    margin-top: 50px;
    color: #d0d0d0;
}
